{% extends "event/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="homepage-signedin">
            <h1>Welcome {{ user }}</h1>
        </div>

        <div class="homepage-events">
            {% if rsvps %}
                
                <div class="home-rsvp-list">
                    <h2>my rsvp's</h2>
                    {% for rsvp in rsvps %}
                        <div class="home-event-item">
                            <a href="{% url 'event' rsvp.event.id %}">
                                <div class="home-event-container">
                                    <p>{{ rsvp.event.title }}</p>
                                    <p>{{ rsvp.event.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if events %}
            
                <div class="home-event-list">
                    <h2>my events</h2>
                    {% for event in events %}
                        <div class="home-event-item">
                            <a href="{% url 'event' event.id %}">
                                <div class="home-event-container">
                                    <p>{{ event.title }}</p>
                                    <p>{{ event.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="homepage">
            <h1>Welcome to the Event App</h1>
        </div>
    {% endif %}
{% endblock %}