{% extends "event/layout.html" %}

{% block body %}
    <div id="test">
        {% if message %}
            <h1 style="color:red">{{ message }}</h1>
        {% endif %}
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input name="password" placeholder="Password" type="password">
            </div>
            <div>
                <input name="password2" placeholder="Confirm Password" type="password">
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}