#top-bar a{
    color:black;
}
#top-bar{
    position: relative;
    display: flex;
}
#top-bar a{
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
}
#hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color:black;
    margin-left: auto;
}
#mobile-nav{
    display: none;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    position: absolute;
    top: 50px;
    right: 20px;
    width: auto;
    text-align: center;
}
#mobile-nav li {
    padding: 8px 12px;
}

#mobile-nav a {
    color: black;
    text-decoration: none;
    display: block;
}
#mobile-nav.active{
        display: block;
    }
@media (max-width: 768px){
    #top-bar a{
        font-size: 15px;
    }          
    #event-container{
        display: block;
    }
    #mobile-event-container{
        display: none;
    }

}

@media (max-width: 480px){
    #top-bar a{
        display: none;
        font-size: 5px;
    }
    #hamburger{
        display: block;
    }
    .event-item{
        display: none;
    }
    .mobile-event-item{
        display: block;
    }
    #mobile-event-container{
        display: block;
    }



}
#top-bar{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 2px solid black;
}
#test{
    text-align: center;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}
#test div{
    margin: 5px;
}
#create-container{
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.create-fields{
    margin: 1px;
    width: 100%;
}
#discover-container{
    text-align:center;
    margin: 20px;
}
#category-list{
    font-size: 32px;
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20%;
}
.category-label{
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}
.category-label:hover{
    background-color: #ddd;
}
#event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}
.event-item{
    flex: 1 1 300px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 24px;
}
.event-item:hover{
    background-color: #ddd;
}

.mobile-event-item{
    border: 2px solid black;
    padding: 1px;
    margin-top: 2%; 
    background-color: #f9f9f9;
    text-align: center;
    font-size: 18px;
}
#event-page{
    border: 2px solid black;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 38px;
}
#event-page h1{
    font-size: 62px;
}
.homepage{
    text-align: center;
    margin-top: 10%;
}
.homepage-signedin{
    text-align: center;
    margin-top: 10%;
}
.homepage-events{
    display: flex;
    flex-wrap: wrap;
    
}
.home-rsvp-list h2,.home-event-list h2{
    text-align: center;
}

.home-rsvp-list, .home-event-list {
    margin: 20px;
    flex: 1 1 45%;                
}
.home-rsvp-item, .home-event-item{
    margin-bottom: 8px;
}
.home-rsvp-item a, .home-event-item a{
        text-decoration: none;
        color: black;
}
.home-event-container:hover{
    background-color:grey;
}
.home-event-container{
    text-align: center;
    border: 2px solid black;
}
.calendar-default{
    flex: 1 1 300px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5%;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 24px;
    color:black;
}

.calendar-default:hover{
    background-color: #ddd;
}

.calendar-href:hover{
    text-decoration: none;
    color:inherit;
}