{% extends "event/layout.html" %}


{% block body %}
    <div id="event-page">
        <h1>{{ event.title }}</h1>
        <p>{{ event.category }}</p>
        <p>Start Date: {{ event.start_date }}</p>
        <p>Start Time: {{ event.start_time }}</p>
        <p>Deadline: {{ event.RSVP_deadline }}</p>
        {% if not ticket_exists and user.is_authenticated and event.user != request.user and can_rsvp != False %}
            <button id="rsvp-button" data-event-id="{{ event.id}}" data-csrf-token="{{ csrf_token }}">RSVP</button>
        {% endif %}
    </div>

    <div id="mobile-event-page">

    </div>
{% endblock %}