{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section id="heading-section">
        <div id="image-container-div">
            <img id="main-logo" src="{% static 'hotdogstore/images/HotDogzz.jpg' %}" alt="HotDogzz logo">
        </div>
        <section id="heading-options">
            <div id="left-side-header">
                <a href="#">Menu</a>
            </div>
            <div id="right-side-header">
                <a href="#">Login</a>
                <a href="#">🛒</a>
                <button type="button" >Order Now</button>
            </div>
        </section>
    </section> 
    {% block body %}
    {% endblock %}   
</body>
</html>