#heading-section {
    background-color: #FFC72C;
    outline: solid black;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    align-items: center;
    font-size: 24px;
    color:black;
    display: flex;
    text-decoration: none;
    font-style: bold;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
#heading-options {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
#main-logo {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 80px;
    border-radius: 10px;
}
#left-side-header {
    margin-left: 0.3%;
    display: flex;
    align-items: center;
}
#right-side-header {
    margin-right: 0.9%;
    display: flex;
    align-items: center;
    gap: 5px;
}
#right-side-header:hover {
    cursor: normal;
}
#left-side-header a, #right-side-header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin: 1%;
}
#left-side-header a:hover, #right-side-header a:hover {
    text-decoration: none;
    color:black;
}
#right-side-header button {
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:red;
    border-radius: 10px;
    border: 0px solid red;
}
#right-side-header button:hover {
    animation: rainbow 100ms infinite alternate; /* Apply the animation */
}

@keyframes rainbow {
    0% {
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    }
    100% {
        background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    }
}
#right-side-header a:hover, #right-side-header button:hover {
    cursor: pointer;
}
#background-container-div {
    width: auto;
    margin-left: -1%;
    margin-right: -1%;
}
#main-BG {
    width: 100%;
}